.padding-top7{
    padding-top:7px;
}

table.member_table {
    width: 100%;
}

table.member_table thead, table.member_table tbody, table.member_table tr, table.member_table td, table.member_table th { display: block; }

table.member_table tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

table.member_table thead th {
    height: 30px;
    text-align: left;
    padding: 1px 2px;
}

table.member_table tbody {
    height: 500px;
    overflow-y: auto;
}


table.member_table tbody td,table.member_table thead th {
    width: 19.2%;
    float: left;
    height: 30px;
}

table.member_table td, .member_table th {
    padding: 1px 2px;
    vertical-align: top;
}

.color_border{
    background:#3fbae4;
    color: #ffffff;
}

.modal-special {
    width: 80%;
    height: 600px !important;
    margin: 30px auto;
}


.profile .profile-image img {
    height: 100px;
}